%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  % warnings_as_errors,
  {parse_transform, lager_transform}
 ]
}.

{cover_enabled, true}.

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {epgsql, "", {git, "https://github.com/wg/epgsql.git"}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
        {quintana, ".*", {git, "https://github.com/puzza007/quintana.git", {branch, "master"}}}
       ]
}.
